- @header_class="engagement"

.bio.fields

    %span.title
        Ben
    %span.field
        is a Cofounder and CEO of Olark.com, where he enjoys climbing redwood trees, biking, programming, basketball, and life in general.  He is currently on leave from the University of Michigan PhD program.

    %span.title
        Kat
    %span.field
        enjoys eating vegetables, donating blood, petting kitties, and stopping cancer, one clinical drug trial at a time.  She is training for a triathlon by running on the beach, followed by laps in the hot tub.  Her green thumb has produced sprouting carrots and turnips. 

    %span.title
        Together 
    %span.field
        they fight crime under the pseudonym "unijacket", a reference to blustery fall day in Blacksburg, when they found that two jackets combined were greater than the sum of their parts.

 