- @header_class="arches"

.bio.fields

    %span.title
        Ben
    %span.field
        is a Cofounder and CEO of Olark.com, where he climbs redwood trees, bikes, programming, basketball, and generally enjoying life.  He is currently on leave from the University of Michigan PhD program.
    
    %span.title
        Kat
    %span.field
        enjoys eating vegtables, petting kitties, and stopping cancer, one clinical drug trial at a time. 
    
    %span.title
        Together 
    %span.field
        they fight crime under the pseudonym "unijacket", a reference to blustery fall day in Blacksburg, when they found that two jackets combined were greater than the sum of their parts.
    
     