- @header_class="arches"

.bio.fields

    %span.title
        Ben
    %span.field
        is a PhD student Dropout
    
    %span.title
        Kat
    %span.field
        recently left the PhD program at Cornell. 
    
    %span.title
        Together 
    %span.field
        they fight crime under the pseudonym "unijacket" from an undisclosed location, that is just a stones throw from Stanford.
    
     