- @header_class="railroad"

.whowhatwhere.fields

    %span.title
        Who
    %span.field
        Benjamin Ward Congleton and Katherine Jean Connors

    %span.title
        What
    %span.field
        :markdown
            A fall wedding celebration for your friends Ben and Kat.
        
            On December 28, 2009, we tied the knot in a small family wedding in Connecticut.  
        
            Please join us as we renew our vows and celebrate with friends and family this October 23, 2010 in our home state of Virginia. 
        
            It should be a shindig to remember: Ceremony, Lawn Games, Ping Pong Tournament, Bonfire, Dancing, and Dining (subject to change).  Feel free to camp on our lawn.
            
            Dress: casual style for a barn wedding (keep an eye on October weather & wear COMFORTABLE shoes)
                

    %span.title
        When
    %span.field
        Saturday, October 23rd, 2010 
            
        %br
            Mid to Late Afternoon, Time TBD

        %span.title
            Where
        %span.field
            "The Mcduffie Lane", Ben's family home in bucolic Fairfax, Virginia
    
    %span.title
        Map
    %span.field
        :erb
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=McDuffie+Lane,+fairfax,+va&amp;sll=38.81159,-77.333193&amp;sspn=0.011503,0.016673&amp;ie=UTF8&amp;hq=&amp;hnear=McDuffie+Ln,+Fairfax,+Virginia+22030&amp;ll=38.811674,-77.3333&amp;spn=0.011503,0.016673&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=McDuffie+Lane,+fairfax,+va&amp;sll=38.81159,-77.333193&amp;sspn=0.011503,0.016673&amp;ie=UTF8&amp;hq=&amp;hnear=McDuffie+Ln,+Fairfax,+Virginia+22030&amp;ll=38.811674,-77.3333&amp;spn=0.011503,0.016673&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
 

    %span.title
        Travel & Lodging

    %span.field
        :markdown
            **Aiports:** 
            
            * __Dulles International (IAD)__: closest to Ben's family house/wedding celebration
            
            <!-- <Directions from Dulles Airport to McDuffie Lane:
            http://maps.google.com/maps?f=d&source=s_d&saddr=DULLES+airport,+Sterling,+VA&daddr=McDuffie+Lane,+Fairfax,+VA&geocode=FaVhUgId4D1i-ymzI99-NEe2iTFUkDGRJ71SzA%3BFRs-UAIdNPRj-ymZGS0By0-2iTFJ9SeLAN-rwQ&hl=en&mra=ls&sll=38.887765,-77.39167&sspn=0.255476,0.617981&ie=UTF8&t=h&z=11>
            - Depending on your plans while in town, rental car may be best option over taxi.
            -->
            
            * __Reagan National (DCA)__
            <!--(closest to Kat's family house) - also on the Metro rail line http://www.wmata.com/.
            (Tell us your flight info & perhaps we can arrange carpool/pick-up) -->

            You are welcome to camp! Ben & Kat will think you are extra cool if you do this. Just give us a heads up so we can make sure you have a nice space & shower access.  We can most likely supplement you with gear, too.

            **For non-campers, hotel information:**
            
            COMING SOON!

            **Parking:**
            
            Plan to drive or rent a car?  Please let us know so we can reserve parking spots near by or organize a carpool.  Carpooling is greatly appreciated!

