- @header_class="railroad"

.whowhatwhere.fields

    %span.title
        Who
    %span.field
        Benjamin Ward Congleton and Katherine Jean Connors

    %span.title
        Where
    %span.field
        The Mcduffie Lane in bucolic Fairfax, Virginia

    %span.title
        What
    %span.field
        A fall wedding celebration, for your friends Ben and Kat. It should be a shindig to remember:  Wedding Ceremony, Lawn Games, Ping Pong Tournament, Bonfire, Dancing, and Dining.

    %span.title
        Time
    %span.field
        TBA

    %span.title
        Huh?
    %span.field
        Should be a ton of fun

    %span.title
        Map
    %span.field
        :erb
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=McDuffie+Lane,+fairfax,+va&amp;sll=38.81159,-77.333193&amp;sspn=0.011503,0.016673&amp;ie=UTF8&amp;hq=&amp;hnear=McDuffie+Ln,+Fairfax,+Virginia+22030&amp;ll=38.811674,-77.3333&amp;spn=0.011503,0.016673&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=McDuffie+Lane,+fairfax,+va&amp;sll=38.81159,-77.333193&amp;sspn=0.011503,0.016673&amp;ie=UTF8&amp;hq=&amp;hnear=McDuffie+Ln,+Fairfax,+Virginia+22030&amp;ll=38.811674,-77.3333&amp;spn=0.011503,0.016673&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
 