- @header_class="katadin"

%h2
    Wedding Registry


.registry
    %h3
        Honeymoon
    .box
        %a{:href=> 'http://www.honeyfund.com/wedding/benkat', :target => "_blank"}
            Gift of Travel - Honeymoon to Thailand
        

    %h3
        REI 

    .box
        %a{:href=> "http://www.rei.com/GiftRegistryDetails/GR2225791", :target=>"registry"}
            REI 
        &nbsp;- the largest consumer cooperative :-)

    %h3
        Amazon
    .box
        %a{:href=> 'http://www.amazon.com/gp/registry/wedding/20CU7VZXK7181', :target => "_blank"}
            Amazon.com


    %h3
        Donate
    
    .box
        %a{:href=> 'http://www.idofoundation.org/cgi-bin/viewdonations.cgi?OccasionID=42367', :target => "_blank"}
            Donate
        &nbsp;to 
        %a{:href=> 'http://www.foodispower.org/', :target => "_blank"}
            Food Empowerment Project
        or the
        %a{:href=> 'http://www.sunlightfoundation.com/', :target => "_blank"}
            Sunlight Foundation


            

-#
    
    %h3
        Ben's Ideas

    %ul
        %li
            Yauht
        %li
            Hobie Wave (catamaran)

    %h3
        Kat's Ideas

    %ul
        %li
            Cart for Bike
        %li
            Vegan Dinner at Millenium