- @header_class="katadin"

%h2
    Wedding Registry

%p
    Our gift giving options range from a donation to our favorite charities to airfare to Thailand.
    
%ul.registry_items
    %li
        %h3
            Thailand
        %a{:href=> 'http://www.honeyfund.com/wedding/benkat', :target => "_blank"}
            Help us take a Honeymoon to Thailand

    %li
        %h3
            For the adventurous

        %p
            If you are feeling particularly adventurous it is possible to buy something from REI, and have 4% of the proceeds donated to one of our charities (double dip, if you will).  Now this is not a task for the faint of heart, since the process is complicated, and somewhat confusing.  But here it is :-) 
        
        %ol.registry_items
            %li
                %a{:href=> "http://www.idofoundation.org/cgi-bin/extdirect.cgi?OccasionID=42367&StoreID=25", :target=>"registry"}
                    Click here to goto REI with the correct affiliate code for our charities.  (So that REI will know to donate 4% of the proceeds)
            %li
                %a{:href=> "http://www.rei.com/GiftRegistryDetails/GR2225791", :target=>"registry"}
                    Now click on this link
                &nbsp; (or if your super paranoid, paste: http://www.rei.com/GiftRegistryDetails/GR2225791 into your browser bar.)
            %li
                Proceed to purchase an item from our registry as normal, feeling good that your getting us something cool, and helping the Sunlight Foundation and the Food Empowerment project. I guess it wasn't that bad after all.


    %li
        %h3
            Amazon
        %a{:href=> 'http://www.amazon.com/gp/registry/wedding/20CU7VZXK7181', :target => "_blank"}
            Amazon.com
   
    %li
        %h3
            Donate
        %a{:href=> 'http://www.idofoundation.org/cgi-bin/viewdonations.cgi?OccasionID=42367', :target => "_blank"}
            Donate
        &nbsp;to 
        %a{:href=> 'http://www.foodispower.org/', :target => "_blank"}
            Food Empowerment Project
        or the
        %a{:href=> 'http://www.sunlightfoundation.com/', :target => "_blank"}
            Sunlight Foundation
    

            

-#
    
    %h3
        Ben's Ideas

    %ul
        %li
            Yauht
        %li
            Hobie Wave (catamaran)

    %h3
        Kat's Ideas

    %ul
        %li
            Cart for Bike
        %li
            Vegan Dinner at Millenium