- @header_class="katadin"

%h2
    Coming Soon

-#
    
    %h3
        Ben's Ideas

    %ul
        %li
            Yauht
        %li
            Hobie Wave (catamaran)

    %h3
        Kat's Ideas

    %ul
        %li
            Cart for Bike
        %li
            Vegan Dinner at Millenium